@import "tailwindcss";

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  font-family:Inter,sans-serif;
  background:#F8FAFC;
  color:#111827;
}

h1,h2,h3,h4{
  font-family:Poppins,sans-serif;
}

.fade-in-up{
  opacity:0;
  transform:translateY(25px);
  transition:all .7s ease;
}

.fade-in-up.visible{
  opacity:1;
  transform:translateY(0);
}